.AboutContainer{
    min-height: 100vh;
    background-color:#fff8e7;
    background-image: linear-gradient(to bottom right, #fff);
    display:flex;
    align-items: center;
    width:100%;
    flex-direction: column;
    
    
  

    /* background-image: linear-gradient(#AACC00,#52796F); */
}

.title{
    width:25%;
    color: blue;
    
}

.title h1{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.avatarImage{
    margin-top:50px;
    
    
}

.AboutMeInfo{
   
}

.AboutMeInfo span {
    height:100px;
    
    
}
.AboutMeInfo h1{
    width: 50%;

}

.AboutContainerContent{
    display: flex;
    justify-content: center;
    width: 50%;
    gap:50px;
    height: 50vh;
    flex-wrap: nowrap;
}

.images{
    margin-right:10px
}

.languages{
    margin-left:40px
}