.menu-bar{
    background-image: linear-gradient(to bottom right,#B8F2E6,#FAF3DD,#FFA69E);
    height: 50px;

}

.menu-bar-items{
    display:flex;
    gap:20px;
    width:90%;
    justify-content: flex-end;
}

.menu-bar {
    color:black;
    font-weight: bold;
}