.PortfolioContainer{
    background-color:#edf2fb;
    min-height: 100vh;
}

#title{
    width:80%;
    padding-top:30px;
    display: flex;
    justify-content: center;
    color: gray;
    padding-bottom:20px
}

#logo-holder{
    position:relative;

}

#logo-holder .text {
    transition: opacity 0.5s ease-in-out;
    position:absolute; top:0; left:0; opacity:0;
}

#logo-holder .Repo{
    transition: opacity 0.5s ease-in-out;
    position:absolute; top:0; left:0; opacity:0;
}

#logo-holder .liveApplication{
    transition: opacity 0.5s ease-in-out;
    position:absolute; top:0; left:0; opacity:0;
 
}

#logo-holder:hover .image {
    opacity:0;
   
}
#logo-holder:hover .text {
    opacity:1;
    color: black;
    top: 50px;
    left:50px;
}

#logo-holder:hover .Repo{
    opacity:1;
    color: black;
    top: 100px;
    left:100px;
    
}

#logo-holder:hover .liveApplication{
    opacity:1;
    color: black;
    top: 100px;
    left:200px;
    
}
